<nav id="nav">
  <ul class="links">
    <li><a href="index.html">Home</a></li>
    <li><a href="book.html">Book</a></li>
    <li><a href="course.html">Course</a></li>
    <li><a href="library.html">Real‑Time React</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="contact.html">Contact</a></li>
  </ul>
  <ul class="icons">
    <li>
      <a
        href="https://github.com/ricardosaumeth"
        target="_blank"
        rel="noopener noreferrer"
        class="icon brands fa-github"
        ><span class="label">GitHub</span></a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/ricardo-saumeth-0baba982/"
        target="_blank"
        rel="noopener noreferrer"
        class="icon brands fa-linkedin"
        ><span class="label">LinkedIn</span></a
      >
    </li>
  </ul>
</nav>
